.divPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYokcwCwo5wcqpc4ij57AMo5Yf8FZwBeJggo-GYhfa9A&s');
    min-height: 89.9vh;
    height: 100%;
    font-family: 'Nunito', sans-serif;
}

.divForm {
    display: flex;
    flex-direction: column;
    width: 45%;
    max-width: 900px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2% ;
    border: 2px solid #6B33B5;
    background-color: #f1b636da;
    margin-top: 5%;
    margin-bottom: 5%;
}

.title{
    appearance: none;
    align-self: center;
    font-weight: 700;
}

.input{
    width: 80%;
    padding: 1%;
    padding-left: 2%;
    align-self: center;
    font-family: 'Nunito', sans-serif;
    background-color: #FFCC01;
    border-radius: 20px;
}

.input:target{
    background-color: #FFCC01;
}

.input[type=number]::-webkit-inner-spin-button, 
.input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.divTypes {
    display: flex;
    flex-wrap: wrap;
}

.errors{
    color: #da2e2e;
    align-self: center;
    margin: 0;
    font-weight: 900;
}

.label{
    padding: 2%;
    display: flex;
    width: 100%;
    font-weight: 900;
}

.select{
    padding: 1%;
    margin-left: 15%;
    background-color: #FFCC01;
    box-shadow: 3px 3px 0 #000;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}

.select:focus{
    outline: none;
    background-color: #000;
    color: #fff;
    box-shadow: 1.5px 1.5px 0 #fff;
}

.btnSubmit{
    width: 20%;
    align-self: center;
    margin-top: 3%;
    padding: 1.2%;
    background-color: #FFCC01;
    box-shadow: 3px 3px 0 #000;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

.btnSubmit:hover{
    cursor: pointer;
}


